[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:jermdw/hugo-classic.git
[submodule "themes/hugo-theme-nix"]
	path = themes/hugo-theme-nix
	url = git@github.com:jermdw/hugo-theme-nix.git
